<%= form_for(@prescription) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="col-md-12 col-md-offset-0"> 
	    <%= f.label :glasses %>
	    <%= f.text_field :glasses, class: 'form-control', placeholder: "Create new prescription..." %>
<!-- 	    siwka - finish this form:  number_field_tag(name, value = nil, options = {})
 -->     </div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>