<%= form_for(@prescription) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">			

    	<%= f.select :glasses, [['Glasses', true], ['Contact lenses', false]], class: 'form-control' %>

	    <%= f.label "Right Eye: Criterium" %>
	    <%= f.select :re_indicator, CRITERIA.keys.map(&:to_s), class: 'form-control' %>

	    <%= f.label 'numeric value' %>
	    <%= f.number_field :re_value, { value: 0, min: -10, max: 180, step: 0.25 } %>

	    <%= f.label "Left Eye: Criterium" %>	    
	    <%= f.select :le_indicator, CRITERIA.keys.map(&:to_s) %>

	    <%= f.label 'numeric value' %>
	    <%= f.number_field :le_value, { value: 0, min: -10, max: 180, step: 0.25 } %>	    

	    <%= f.label "Right Eye: Additional criterium" %>
	    <%= f.select :re_indicator_extra, %w(AXIS CYL), {:include_blank => true, :default => nil} %>

	    <%= f.label 'numeric value' %>
	    <%= f.number_field :re_value_extra, { value: nil, min: -10, max: 180, step: 0.25 } %>	    

	    <%= f.label "Left Eye: Additional criterium" %>    
	    <%= f.select :le_indicator_extra, %w(AXIS CYL), {:include_blank => true, :default => nil} %>

	    <%= f.label 'numeric value' %>
	    <%= f.number_field :le_value_extra, { value: nil, min: -10, max: 180, step: 0.25 } %>

 	<!-- if form dynamic or second form
 	 		if @prescription
 				if @prescription.re_indicator == 'CYL' 'AXIS'
 				 re_indicator add re_indicator_extra & re_value
				end
 		  if @prescription.le_indicator == 'CYL') || 'AXIS'
 				if le_indicator add le_indicator_extra & le_value
 			end siwka-->

    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>