<%= form_for(@prescription) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="col-md-12 col-md-offset-0">

	    <div>
	      <%= f.label :glasses do %>
	        <%= f.check_box :glasses %>
	        <span>Glasses</span>
	      <% end %>
	      <%= f.label :glasses do %>
	        <%= f.check_box :glasses %>
	        <span>Contact lenses</span>
	      <% end %>
	      <% @prescription.glasses = false if @prescription.glasses.nil? %>
      <div>

	    <%= f.label "Right Eye: Criterium" %>
	    <%= f.select :re_indicator, %w(SPH CYL AXIS BC DIAM), class: 'form-control' %>
	    <%= f.label 'numeric value' %>
	    <%= f.text_field :re_value, class: 'form-control', placeholder: "Right eye numeral value..." %>

	    <%= f.label "Left Eye: Criterium" %>	    
	    <%= f.select :le_indicator, %w(SPH CYL AXIS BC DIAM) %>
	    <%= f.label 'numeric value' %>
	    <%= f.text_field :le_value, class: 'form-control', placeholder: "Left Eye numeral value..." %>	    
 


 			<% if @prescription %>
 			 <% if @prescription.re_indicator == 'CYL' %>
 				if re_indicator add re_indicator_extra & ..
 			<% end %>
 			<% end %>
			
 			<% if @prescription && (@prescription.le_indicator == 'CYL') %>
 				if le_indicator add le_indicator_extra & ..
 			<% end %>	
    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>