<%= form_for(@prescription) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="col-md-12 col-md-offset-0">

    	<div>
	    <%= f.collection_radio_buttons :glasses,
						    						 [[true, 'Glasses'], [false, 'Contact lenses']],
						    						  :first, :last, checked: true %>
			<br/><br/>
			<!-- siwka add css,  class: "radio_buttons inline" -->
			</div>
		  				

	    <%= f.label "Right Eye: Criterium" %>
	    <%= f.select :re_indicator, CRITERIA.keys.map(&:to_s), class: 'form-control' %>

	    <%= f.label 'numeric value' %>
	    <%= f.text_field :re_value, class: 'form-control', placeholder: "Right eye numeral value..." %>
	    <!-- change to number_field_tag siwka  & next fields too -->

	    <%= f.label "Left Eye: Criterium" %>	    
	    <%= f.select :le_indicator, CRITERIA.keys.map(&:to_s) %>

	    <%= f.label 'numeric value' %>
	    <%= f.text_field :le_value, class: 'form-control', placeholder: "Left Eye numeral value..." %> 

	    <%= f.label "Right Eye: Additional criterium" %>
	    <%= f.text_field :re_indicator_extra, default: nil, class: 'form-control', placeholder: "'AXIS' or 'CYL' only" %>

	    <%= f.label 'numeric value' %>
	    <%= f.text_field :re_value_extra, class: 'form-control', placeholder: "Right eye numeral value..." %>

	    <%= f.label "Left Eye: Additional criterium" %>    
	    <%= f.text_field :le_indicator_extra, class: 'form-control', placeholder: "'AXIS' or 'CYL' only" %>

	    <%= f.label 'numeric value' %>
	    <%= f.text_field :le_value_extra, class: 'form-control', placeholder: "Left Eye numeral value..." %>

 	<!-- if form dynamic or second form
 	 		if @prescription
 				if @prescription.re_indicator == 'CYL' 'AXIS'
 				 re_indicator add re_indicator_extra & re_value
				end
 		  if @prescription.le_indicator == 'CYL') || 'AXIS'
 				if le_indicator add le_indicator_extra & le_value
 			end siwka-->

    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>