<%= form_for(@prescription) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">			

    	<%= f.select :glasses, [['Glasses', true], ['Contact lenses', false]], class: 'form-control' %>

	    <%= f.label "Right Eye: Criterium" %>
	    <%= f.select :re_indicator, CRITERIA.keys.map(&:to_s), class: 'form-control' %>

	    <%= f.label 'numeric value' %>
	    <%= f.number_field :re_value, { value: 0, min: -10, max: 180, step: 0.25 } %>

	    <%= f.label "Left Eye: Criterium" %>	    
	    <%= f.select :le_indicator, CRITERIA.keys.map(&:to_s) %>

	    <%= f.label 'numeric value' %>
	    <%= f.number_field :le_value, { value: 0, min: -10, max: 180, step: 0.25 } %>	    

	    <%= f.label "Right Eye: Additional criterium" %>
	    <%= f.select :re_indicator_extra, %w(AXIS CYL), {:include_blank => true, :default => nil} %>

	    <%= f.label 'numeric value' %>
	    <%= f.select :re_value_extra, HASH[:AXIS], {:include_blank => true, :default => nil} %>
	    <!-- siwka - generalize above & change other f.number_fields -->	    	    
	    <%= f.label "Left Eye: Additional criterium" %>    
	    <%= f.select :le_indicator_extra, %w(AXIS CYL), {:include_blank => true, :default => nil} %>

	    <%= f.label 'numeric value' %>
	    <%= f.select :le_value_extra, HASH[:CYL].reverse, {:include_blank => true, :default => nil} %> 
	    <!-- siwka - generalize above & change other f.number_fields -->
    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>